:root {
  --gold: #b99e44;
  --pink: #e8c7c8;
  --light-gray: #dae6e6;
  --dark-gray: #4E4E4E;
  --bg-section: #dae6e6;
  --white: #fff;
  --warm-white: #F5F5F5;
  --black: #000;
  --warm-black: #121212;
  --bg-header: rgba(0, 0, 0, 0.75);
  --text-shadow: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 40px;
  color: var(--warm-black);
  background: var(--warm-white);
}

/* Global Styles
================
*/

img {
  max-width: 100%;
  display: block;
  border-radius: 20px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

ul a {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: all.2s ease-in-out;
}

a:hover,
a:focus {
  color: var(--gold);
  border-bottom: 2px solid var(--gold);
  padding-bottom: 0.5rem;
}

/* ============
Typography
==============*/

h1 {
  font-size: 6.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  line-height: 75px;
}

h2 {
  font-size: 4rem;
}

h1,
h2,
.intro-subtitle {
  color: var(--gold);
}

/* ============
Header
==============*/

.header {
  height: 10rem;
  background: var(--bg-header);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

/* ============
Navbar
==============*/

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 3rem;
}

.nav-link {
   color: var(--light-gray);
}

/* ====================
Section Styles
=======================*/

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh + 10rem);
  border-top: 1.5px solid var(--pink);
  border-bottom: 1.5px solid var(--pink);
}

.section-img,
.section-content {
  flex: 1;
  padding: 5rem 10rem;
}

.section-img img {
  max-width: 100%;
  min-width: 300px;
}

.section-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5rem;
  text-shadow: 1px 1px 3px var(--text-shadow);
}

.section-text {
  line-height: 35px;
  font-size: 2rem;
}

.section a {
  font-style: italic;
  color: inherit;
}

.section a:hover,
.section a:focus {
  color: var(--gold);
}

.skills,
.education,
.code-sample {
  background: var(--light-gray);
}

/* ====================
Intro Section
=======================*/

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--pink) url('extras/workplace.jpg') 0% 95%/cover no-repeat;
}

.intro-title {
  margin-top: 32.25rem;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
  text-shadow: -5px 5px 5px var(--text-shadow);
  /* animation */
  animation: slideFromLeft 5s ease-in-out 1;
}

.intro-subtitle {
  font-size: 4.05rem;
  /* animation */
  animation: slideFromRight 5s ease-in-out 1;
}

/* ====================
About Section
=======================*/

.about-content {
  width: 80rem;
  text-align: left;
}

.about-img {
  border: 3px solid var(--pink);
  border-radius: 15%;
  padding: 1rem 2.5rem 3rem;
  margin-left: 10rem;
}

/* ====================
Skills Section
=======================*/

.skills-content {
  order: -1;
}

.skills-text {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
}

/* ====================
Experience Section
=======================*/

.experience-title {
  margin-bottom: 2rem;
}

.featured p {
  text-transform: uppercase;
  margin: 1rem auto;
}

.featured ul {
  list-style: circle;
  display: block;
}

.featured ul li {
 margin-left: 2rem;
}

/* ====================
Education Section
=======================*/

.education-content {
  display: flex;
  flex-direction: column;
  order: -1;
}

.education-text {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
}

/* ====================
Languages Section
=======================*/

.languages-text {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
}

/* ====================
Code Sample Section
=======================*/

.code-sample-title {
  margin-top: 7rem;
  margin-bottom: 0;
}

.code-sample-content {
  display: flex;
  flex-direction: column;
  order: -1;
}

pre code {
  font-size: 1.5rem;
  line-height: 22.5px;
}

/* ====================
Contact Section
=======================*/

.contact {
  background: var(--pink);
  height: calc(100vh - 20rem);
}

.contact-title {
  text-align: center;
  margin: 0.5rem auto 4rem;
  font-size: 5rem;
}

.contact-img {
  margin-right: 20rem;
  position: relative;
}

.contact-info {
  list-style: none;
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 40%;
  left: 26%;
}

.contact-info a {
  font-size: 3rem;
}

/* ====================
Footer
=======================*/

.footer {
  height: 10rem;
  display: flex;
  justify-content: center;
  background: var(--light-gray);
  color: var(--bg-header);
  opacity: 0.9;
  font-size: 1.5rem;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  width: 50%;
}

.my-github-link {
  color: inherit;
}

.logo {
  width: 100px;
  border-radius: 0;
}

.footer-link:hover,
.footer-link:focus {
  transform: scale(1.1);
  text-shadow: 1px 1px var(--warm-black);
  border-bottom: none;
  padding: 0;
  margin-bottom: 0.5rem;
}

/* ====================
Animation
=======================*/

/* intro title */

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
  }
  50% {
    transform: translateX(-200px);
  }
  75% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* intro subtitle */

@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(200px);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}


/* ====================
Media Queries
=======================*/

@media (max-width: 1440px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  .intro-title {
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
  .about-content {
    width: 60rem;
  }
  .footer-copyright {
    width: 22%;
  }
}

@media (max-width: 1200px) {
  .code-sample-img {
    padding-left: 0;
  }
}
